<ion-view title="Add a Recipe">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <h3>Recipe Name</h3>
            <label class="item item-input">
                <input type="text" placeholder="Fried Chicked">
            </label>
        </form>
        <h3>Ingredient Name</h3>
        <form class="list">
            <label class="item item-input">
                <input type="text" placeholder=" Chicken">
            </label>
            <h3>Amount</h3>
        </form>
        <form class="list">
            <label class="item item-input">
                <input type="text" placeholder="2 lbs">
            </label>
        </form>
        <button class="button button-stable button-clear  icon-right ion-android-add-circle">Add More Ingredients</button>
        <button class="button button-stable button-block ">Submit Recipe</button>
    </ion-content>
</ion-view>