<ion-view title="Add Medicine">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h4>Medicine Name</h4>
        <form class="list">
            <label class="item item-input">
                <input type="text" placeholder="Aspirin">
            </label>
        </form>
        <h4>Amount Per Serving</h4>
        <form class="list">
            <label class="item item-input">
                <input type="number" placeholder="2, 3, 4">
            </label>
            <h4>Taken</h4>
            <label class="item item-input">
                <input type="text" placeholder="Daily, Monthly, etc">
            </label>
        </form>
        <h4>Extra</h4>
        <form class="list">
            <label class="item item-input">
                <input type="text" placeholder="Take one at night with food.">
            </label>
        </form>
        <a href="#/page5/page15" class="button button-stable button-block ">Add New</a>
    </ion-content>
</ion-view>