<ion-view title="Add Nutrition">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Food Item Eaten">
            </label>
            <h4>Meal</h4>
        </form>
        <form class="list">
            <label class="item item-select" name="Meal Dropdown">
                <span class="input-label"></span>
                <select></select>
            </label>
        </form>
        <h4>Servings Eaten</h4>
        <form class="list">
            <label class="item item-input">
                <input type="number" placeholder="2, 3, 4">
            </label>
            <h4>Calories</h4>
            <label class="item item-input">
                <input type="text" placeholder="Daily, Monthly, etc">
            </label>
        </form>
        <form class="list"></form>
        <a href="#/page5/page14" class="button button-stable button-block ">Add New</a>
    </ion-content>
</ion-view>