<ion-view title="Add Nutrition">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Food Item Eaten">
            </label>

        </form>
        <form class="list"
              name="addNutritonForm"
              ng-submit="addNewDailyNutrition(addNutritonForm)"
              novalidate
              class="create-form">
          <section>

            <div class="form-errors"
                 ng-messages="addNutritonForm.recipeName.$error"
                 ng-show="addNutritonForm.myName.$touched || addNutritonForm.$submitted"
                 ng-messages-include="templates/form-errors.html"></div>
            <label class="item item-input item-floating-label">
              <span class="input-label">Meal Name</span>
              <input type="text"
                     ng-model="formData.mealName"
                     placeholder="Meal Name">
            </label>
            <label class="item item-input item-floating-label">
              <span class="input-label">Meal Contents</span>
              <input type="text"
                     ng-model="formData.mealContents"
                     placeholder="Meal Contents">
            </label>
            <label class="item item-input item-floating-label">
              <span class="input-label">Type of Food</span>
              <input type="text"
                     ng-model="formData.foodType"
                     placeholder="Type of Food">
            </label>

            <h4> Date and Time</h4>
            <label class="item item-input item-floating-label">
              <input type="text"
                     ng-model="formData.date"
                     placeholder="mm/dd/yyyy">
            </label>

            <label class="item item-input item-floating-label">
              <input
                type = "text"
                ng-model="formData.time"
                placeholder="hh:mm">
              </label>


            <h4></h4>
            <label class="item item-input item-floating-label">
              <span class="input-label  item-text-wrap">Additional Comments</span>
              <input type="text"
                     ng-model="formData.comments"
                     name="comments"
                     placeholder="Additional Comments">
            </label>
          </section>
        </form>
      <button class="button button-balanced button-block" type="submit" ng-click="addNewDailyNutrition(addNutritonForm)">Submit</button>
      <button class="button button-balanced button-block" type="submit" ng-click="addIngredient(addNutritonForm)">Add Ingredient</button>
    </ion-content>
</ion-view>
