<ion-view title="Daily Nutrition">
 <ion-content overflow-scroll="true" padding="true" class="has-header">
     <button class="button button-stable button-block" type="submit" ng-click="addNewNutrition()">Add New Daily Nutrition</button>
                <ion-list>
                    <div class="spacer" style="width: 300px; height: 23px;"></div>
                    <ion-list ng-controller="nutritionCtrl" >
                        <ion-item ng-repeat="i in retVals | orderBy:'-date'" ng-click="viewNutrition(i)">
                            <img ng-src="data:image/jpeg;base64,{{i.picture}}" height="100px" width="100px" alt="" />
                            <p>Meal Name:  {{i.mealName}}</p>
                            <p>Meal Type:  {{i.meal}}</p>
                            <p>Date:  {{i.date  | date:'MM/dd/yyyy'}}</p>
                            <p>Extra Info:  {{i.comments}}</p>

                            <ion-option-button class="button-positive" ng-click="editNutrition(i)"><i class="icon ion-edit"></i></ion-option-button>
                            <ion-option-button class="button-assertive" ng-click="setRemove(i)"><i class="icon ion-ios-trash"></i></ion-option-button>
                         </ion-item>
                    </ion-list>
    
    </ion-content>
</ion-view>