<ion-view title="Main">
    <ion-tabs class="tabs-light tabs-icon-top">
        <ion-tab title="Recipe Book" icon="ion-ios-book-outline" href="#/page5/page10">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
       <ion-tab title="Nutrition" icon="ion-spoon" href="#/page5/page14">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="My Meds" icon="ion-medkit" href="#/page5/page15">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Share My Data" icon="ion-paper-airplane" href="#/page5/page19">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Settings" icon="ion-wrench" href="#/page5/page17">
            <ion-nav-view name="tab6"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>