<ion-view title="Change Email"  ng-init="setEmail()">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
      <form name = "myAccForm"
            ng-submit="submit(myAccForm)"
            novalidate =""
            class="change-form">

        <div>
          <label class="item item-input"
                 ng-class="{'has-error':createForm.email.$invalid}">
            <span class="input-label" ng-model="currentEmail"> </span>

          </label>
        </div>


        <div>
          <label class="item item-input"
          ng-class="{'has-error':createForm.email.$invalid}">
          <span class="input-label">New Email</span>
          <input type="email"
            placeholder=""
            ng-model="formData.email"
            ng-minlength="6"
            ng-messages-include="templates/form-errors.html"
            ng-required="true"
          >
          </label>
          </div>

          <div class="form-errors"
            ng-messages="changePWForm.email.$error">
          </div>
          <div ng-messages-include="templates/form-errors.html">
          </div>

          <div class="form-errors"
          ng-messages="changePWForm.minlength.$error">
          <div ng-messages-include="templates/form-errors.html"> </div>
          </div>


        </form>
        <button class="button button-block" type="submit" ng-click="submit(form)">Change Email</button>
    </ion-content>
</ion-view>
