<ion-view title="My Meds">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Aspirin</div>
            <div class="item item-body">
                <div>
                    <p>Serving : 1</p>
                </div>
                <div>
                    <p>Taken: when needed</p>
                </div>
                <div>
                    <p>Take with food.</p>
                </div>
            </div>
        </div>
        <ion-list></ion-list>
        <ion-list></ion-list>
        <div class="list card">
            <div class="item item-divider">Card</div>
            <div class="item item-body"></div>
        </div>
        <a href="#/page16" class="button button-stable button-block ">Add Medicine</a>
    </ion-content>
</ion-view>