<ion-view title="Recipe Book">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <form class="list">
                <label class="item item-input">
                    <span class="input-label">Recipe Title</span>
                    <input type="text" placeholder="">
                </label>
            </form>
            <ion-item class="item-thumbnail-left" href="#/page11">
                <img src="img/ag3wfkGhQ6i6osomH36b_0125629_03_chicken-in-skillet_s4x3.jpg.rend.sni12col.landscape.jpeg">
                <h2>Fried Chicken</h2>
                <p>Calories: 500</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 23px;"></div>
        <ion-list>
            <ion-item class="item-thumbnail-left" href="#/page12">
                <img src="img/pic4IW8Lh.jpg">
                <h2>Spaghetti</h2>
                <p>Calories: 450</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>