<ion-view title="Recipe Book">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <form class="list">
                <label class="item item-input">
                    <span class="input-label">Recipe Title</span>
                    <input type="text" placeholder="">
                </label>
            </form>

        </ion-list>
        <div class="spacer" style="width: 300px; height: 23px;"></div>
        <ion-list ng-controller="recipeBookCtrl">
            <ion-item class="item-thumbnail-left" ng-repeat="i in retVals">
                <p>Guid: {{i.recipe.recipeGuid}}</p>
                <p>Name:  {{i.recipe.recipeName}}</p>
                <p>Preperation Time:  {{i.recipe.prepTime}}</p>
                <p>Cooking Time:  {{i.recipe.cookingTime}}</p>
                <p>Serves:  {{i.recipe.servesNMany}}</p>
                <p>Description:  {{i.recipe.recipeDesc}}</p>

                <ion-option-button class="button-positive" ng-click="setFill(i)"><i class="icon ion-edit"></i></ion-option-button>
                <ion-option-button class="button-assertive" ng-click="setRemove(i)"><i class="icon ion-ios-trash"></i></ion-option-button>


            </ion-item>
        </ion-list>



        <ion-infinite-scroll immediate-check="false"
                             on-infinite="loadMore()"></ion-infinite-scroll>

    </ion-content>
</ion-view>