<ion-view title="Recipe Book">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <form class="list">
                <label class="item item-input">
                    <span class="input-label">Recipe Title</span>
                    <input type="search" placeholder="Search" ng-model="search" />
                </label>
            </form>
            <button class="button button-stable button-block" type="submit" ng-click="addNewRecipe()">Add New Recipe</button>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 23px;"></div>
        <ion-list ng-controller="recipeBookCtrl">
            <ion-item ng-repeat="i in retVals2 | orderBy:'recipeName'" ng-click="viewRecipe(i)">
                <img ng-src="data:image/jpeg;base64,{{i.picture}}"  height="100px" width="100px" alt="" />
                <p>Name:  {{i.recipeName}}</p>
                <p>Preparation Time:  {{i.prepTime}}</p>
                <p>Cooking Time:  {{i.cookingTime}}</p>
                <p>Serves:  {{i.servesNMany}}</p>
                <p>Description:  {{i.recipeDesc}}</p>

                <ion-option-button class="button-positive" ng-click="editRecipe(i)"><i class="icon ion-edit"></i></ion-option-button>
                <ion-option-button class="button-assertive" ng-click="deleteRecipe(i)"><i class="icon ion-ios-trash"></i></ion-option-button>


            </ion-item>
        </ion-list>



        <ion-infinite-scroll immediate-check="false"
                             on-infinite="loadMore()"></ion-infinite-scroll>

    </ion-content>
</ion-view>
