<ion-view title="Settings">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item href="#/page18">Change Email</ion-item>
            <ion-item href="#/page19">Share My Data</ion-item>
            <button class="button  button-block" type="submit" ng-click= "changePW()" > Change Password </button >
            <button class="button  button-block" type="submit" ng-click= "logOut()" > Logout </button>
        </ion-list>
    </ion-content>
</ion-view>
