<ion-view title="11/1/2015">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Nutrition</div>
            <div class="item item-body">
                <div>
                    <p>Breakfast: Yogurt, milk, eggs</p>
                </div>
                <div>
                    <p>Lunch: Chicken Sandwich</p>
                </div>
                <div>
                    <p>Dinner: Spaghetti, Wine</p>
                </div>
            </div>
        </div>
        <a href="#/page5/page14" class="button button-stable button-block ">Go Back</a>
    </ion-content>
</ion-view>